:root {
  --card-color-primary:#f7dd43;
  --card-color-h2-primary:#f7dd43;
  --card-title-border-primary:#746615;
}

body.blue {
 --card-title-border-color: #338af3;
 --card-color-primary:#338af3;
 --card-bg-color:#202024;
 --bg: url(./assets/bg-blue.svg);
}

body.green {
  --card-title-border-color: #047c3f;
  --card-color-primary:#047c3f;
  --card-bg-color:#1a1f1b;
  --bg: url(./assets/bg-green.svg);
}